<html>

    <head>
        <style>
            .myDiv {
            border: 5px outset red;
            background-color: lightblue;
            text-align: center;
            }

            .table_stats {
            border: 5px outset red;
            background-color: green;
            text-align: center;
            }

            .gig {
                border: 2px red;
                background: blue;
            }

        </style>
    </head>

    <body>

        <div class="myDiv">
            <form action = "/new" method = 'post'>
            <p> <input type ="text" name ='nickname_url'/> </p>
            <button type = 'submit' name = "but" value='Signup'> Click </button>
            </form>
        </div>



        <div class = "gig"> 
            <p> {{your_name}} <p> 
            <img src = "{{url_for('static', filename = source_img )}}"/>
        </div>

        <div class = "gig"> 
            <p> {{your_name2}} <p> 
            <img src = "{{url_for('static', filename = source_img2 )}}"/>
        </div>

        <div class = "gig"> 
            <p> {{your_name3}} <p> 
            <img src = "{{url_for('static', filename = source_img3 )}}"/>
        </div>

        <div class = "gig"> 
            <p> {{your_name4}} <p> 
            <img src = "{{url_for('static', filename = source_img4 )}}"/>
        </div>

        <div class = "gig"> 
            <p> {{your_name5}} <p> 
            <img src = "{{url_for('static', filename = source_img5 )}}"/>
        </div>

        <div class ="table_stats">

            <p> Who won the round? </p>

            <div>
                <form action = '/new2' method = 'post'>

                    <input type="radio" id="enemies" name="win_side" value="1" checked>
                    <label for="1"> Enemies won </label>
                    <input type="radio" id="0" name="win_side" value="0">
                    <label for="0"> Your team </label>

                <p> How the round ended? </p>

                    <input type="radio" id="kill_all" name="end_round" value="1" checked>
                    <label for="kill_all"> Kill the whole team </label>
                    <input type="radio" id="timer" name="end_round" value="2">
                    <label for="timer"> Timer </label>
                    <input type="radio" id="bomb" name="end_round" value="4">
                    <label for="bomb"> Bomb </label>
                    <input type="radio" id="defuse" name="end_round" value="3">
                    <label for="defuse"> Defuse </label>

                <p> The bomb was planted? </p>

                    <input type="radio" id="1" name="bomb_planted" value="1" checked>
                    <label for="1"> Yes </label>
                    <input type="radio" id="0" name="bomb_planted" value="0">
                    <label for="0"> No </label>

                <p> How many teammates alive? </p>

                    <input type="radio" id="0" name="mates_alive" value="0" checked>
                    <label for="0"> 0 </label>
                    <input type="radio" id="1" name="mates_alive" value="1" checked>
                    <label for="1"> 1 </label>
                    <input type="radio" id="2" name="mates_alive" value="2" checked>
                    <label for="2"> 2 </label>
                    <input type="radio" id="3" name="mates_alive" value="3" checked>
                    <label for="3"> 3 </label>
                    <input type="radio" id="4" name="mates_alive" value="4" checked>
                    <label for="4"> 4 </label>
                    <input type="radio" id="5" name="mates_alive" value="5" checked>
                    <label for="5"> 5 </label>

                <p> How many enemies alive? </p>

                    <input type="radio" id="0" name="enemies_alive" value="0" checked>
                    <label for="0"> 0 </label>
                    <input type="radio" id="1" name="enemies_alive" value="1" checked>
                    <label for="1"> 1 </label>
                    <input type="radio" id="2" name="enemies_alive" value="2" checked>
                    <label for="2"> 2 </label>
                    <input type="radio" id="3" name="enemies_alive" value="3" checked>
                    <label for="3"> 3 </label>
                    <input type="radio" id="4" name="enemies_alive" value="4" checked>
                    <label for="4"> 4 </label>
                    <input type="radio" id="5" name="enemies_alive" value="5" checked>
                    <label for="5"> 5 </label>

                <p> Buy of enemies? </p>

                    <input type="radio" id="1" name="enemies_buy" value="1" checked>
                    <label for="1"> 1 </label>
                    <input type="radio" id="2" name="enemies_buy" value="2" checked>
                    <label for="2"> 2 </label>
                    <input type="radio" id="3" name="enemies_buy" value="3" checked>
                    <label for="3"> 3 </label>
                    <input type="radio" id="4" name="enemies_buy" value="4" checked>
                    <label for="4"> 4 </label>
                    <input type="radio" id="5" name="enemies_buy" value="5" checked>
                    <label for="5"> 5 </label>

                <p> Kills with knife? </p>

                    <input type="radio" id="0" name="knife_kills" value="0" checked>
                    <label for="0"> 0 </label>
                    <input type="radio" id="1" name="knife_kills" value="1" checked>
                    <label for="1"> 1 </label>
                    <input type="radio" id="2" name="knife_kills" value="2" checked>
                    <label for="2"> 2 </label>
                    <input type="radio" id="3" name="knife_kills" value="3" checked>
                    <label for="3"> 3 </label>
                    <input type="radio" id="4" name="knife_kills" value="4" checked>
                    <label for="4"> 4 </label>
                    <input type="radio" id="5" name="knife_kills" value="5" checked>
                    <label for="5"> 5 </label>

                    <p> <input type ="submit" name = "info"> </p>
                </form>

            </div>
        </div>

        <p> {{information}} </p>



    </body>

</html>